*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
    color: white;
    border-color: white;
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
    border-color: white;
    color: white;
}

.product-search input:focus{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
    color: white;
}
.products-box img{
    border-radius: 10px;
    height: 60%;
    width:100%;
}
.card{
    height: 70%;
}